@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;600&display=swap');

$primary-color: rgb(32, 33, 36);
$highlight-color: rgb(42, 43, 47);
$accent-color: rgb(70, 130, 180);

$font-title: 'Work Sans', sans-serif;

// MIXINS
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin fullsize {
    @include size(100%, 100%);
}

@mixin centered-content {
    display: grid;
    place-items: center;
}

@mixin hover-highlight {
    cursor: pointer;
    transition: background-color 200ms;

    &:hover {
        background-color: rgba(255,255,255,0.1);
    }

    &[data-selected=true] {
        background-color: $accent-color;
    }
}
