@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;600&display=swap');

$primary-color: rgb(32, 33, 36);
$highlight-color: rgb(42, 43, 47);
$accent-color: rgb(70, 130, 180);

$font-title: 'Work Sans', sans-serif;
